<h1>Pokédex</h1>


<!-- Barre de recherche -->
<input type="text" [(ngModel)]="searchTerm" (ngModelChange)="applyFilters()" placeholder="Rechercher un Pokémon..."
    class="search-bar" />

<!-- Sélecteur de tri -->
<select [(ngModel)]="sortOrder" (change)="applyFilters()" class="sort-select">
    <option value="az">Trier A → Z</option>
    <option value="za">Trier Z → A</option>
</select>

<!-- Liste des Pokémons -->
<div class="pokemon-grid">
    <div *ngFor="let pokemon of filteredPokemons" class="pokemon-card">
        <img [src]="pokemon.image" [alt]="pokemon.name" />
        <h3>{{ pokemon.name | titlecase }}</h3>
        <button (click)="viewDetails(pokemon.name)">Détails</button>
    </div>
</div>